"user" means both registered and unregistered
"registered user" means (...)
Actors are:
	
POIS are:
	- regular (church, waterfall)
	- facilities (restaurants, public transport, hostel...)
	- created (photos, videos, segments, etc)
	
\textbf{USERS management subsystem:}
\begin{enumerate}
	\item When on the app, the user shall be able to register, log in or log out.
	\item When on the app, the admin shall be able to log in with an administrator account.
\end{enumerate}

\begin{enumerate}
\end{enumerate}

\textbf{Recommendation/Monitoring subsystem:}
\begin{enumerate}
	\item When browsing the POIs, users shall be able to view the map and filter the content: filter by name, type, etc.
	\item When browsing the POIs, users shall be able to see a dashboard of POIs sorted by different score system: most visited, best ratings, etc.
	\item When browsing the POIs, users shall have access to a small description for each POI. (List of POIs)
	\item When browsing the POIs, users shall be able to select a POI to have access to more details: pictures, extended description, etc. (POI View)
\end{enumerate}

\textbf{TRAVEL PLANNER:}
\begin{enumerate}
	\item when using the TP, registered users shall be able to plan a trip, adding POIS (to their travel)
	\item when using the TP, registered user shall be able to view informations about the path (distance, est. time, elevation, parkings, public transport, facilities, ...)
	\item when planning a trip registered user shall be able to save the trip: sending a mail with pdf being a report of the trip (map, hotels numbers, useful links, etc.) or a saved file in the app.
	\item when using the TP, the registered user shall be able to access webpages/phones numbers of facilities easily
	\item A registered user shall be able to save the Trip given user parameters and wanted POIS
	\item The travel planner communicates with an API (OTP) to solve the travel problem.
\end{enumerate}

	POI
\begin{enumerate}
	\item when at a regular POI, the user should be able to interact with a QR code and get information (audio guide) from it.
	\item when a QR code is scanned, user shall have access to the extended POI view, where they can grade the POI. 
	\item when a QR code is scanned, the corresponding POI "number of visitors" statistic is increased by 1.
	\item when on the app, the registered user shall be able to add created POI, using photos, videos, etc.
	\item when a POI is added, they appear as unverified in the corresponding database.
	\item unverified POIs are visible only to the administrator. 
\end{enumerate}

	ADMIN
\begin{enumerate}
\item Admin shall be able to review the unverified POI and modify them into verified ones.
\item Admin shall be able to edit the content of all databases through a content management system (CMS)

\end{enumerate}

	Notification system
\begin{enumerate}
	\item On the day of the trip of a user, the Notification subsystem shall be able to notify them about current weather conditions, downloading the informations through a weather API.
	\item Admin shall be able to send messages to all users through notifications (some building not available for visiting, current unexpected event, etc.)
\end{enumerate}

	SMR
\begin{enumerate}
	\item The SMR shall modify the text of POI view into one containing hyperlinks.
\end{enumerate}

	MODELS
\begin{enumerate}
	\item Trip model shall contain dates (starting, finish), a detailed route, as well as useful contact (phone n° of selected facilities, etc.)
	\item A trip shall contain at least one POI 
	\item A trip shall be associated to exactly one registered user.
	\item User model shall contain a username, an email and phone contact, and list of it's trip. 
	\item POI model shall contaon 
\end{enumerate}
	 



